
#fact1 {
    background-color: pink;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 8px;
     margin-top: 8px;
     margin-bottom: 8px;
     margin-right: 2px;
    margin-left: 2px;
    border-style: double;
    border-color: blue;
    border-width: 5px;
}
#fact2 {
    background-color: purple;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 8px;
     margin-top: 8px;
     margin-bottom: 8px;
     margin-right: 2px;
    margin-left: 2px;
    border-style: double;
    border-color: yellow;
    border-width: 5px;
}
#fact3 {
    background-color: orange;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 8px;
     margin-top: 8px;
     margin-bottom: 8px;
     margin-right: 2px;
    margin-left: 2px;
    border-style: double;
    border-color: green;
    border-width: 5px;
}
#fact4 {
    background-color: white;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 8px;
     margin-top: 8px;
     margin-bottom: 8px;
     margin-right: 2px;
    margin-left: 2px;
    border-style: double;
    border-color: red;
    border-width: 5px;
}
#fact5 {
    background-color: purple;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 8px;
     margin-top: 8px;
     margin-bottom: 8px;
     margin-right: 2px;
    margin-left: 2px;
    border-style: double;
    border-color: blue;
    border-width: 5px;
}
#fact6 {
    background-color: pink;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 8px;
     margin-top: 8px;
     margin-bottom: 8px;
     margin-right: 2px;
    margin-left: 2px;
    border-style: double;
    border-color: black;
    border-width: 5px;
}
